@model WebApplication1.Models.bagis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>bagis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bagisci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bagisci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bagisturu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bagisturu.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
